<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>table th, table td {
        padding: 5px;
    }</style>
</head>
<body>
<h1>Users</h1>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Password</th>
        <th>Age</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    <tr th:each="user : ${users}">

        <td th:utext="${user.id}"></td>
        <td th:utext="${user.username}"></td>
        <td th:utext="${user.password}"></td>
        <td th:utext="${user.age}"></td>
        <td th:utext="${user.email}"></td>

        <td>
            <form th:each = "role : ${user.roles}"
                  th:utext="${role.name}">
            </form>
        </td>

        <td>
            <form action="#" th:action="@{/admin/get-user}">
                <button type="submit" th:name="userId" th:value="${user.id}">Update</button>
            </form>
        </td>

        <td>
            <form  th:method="delete" th:action="@{/admin/delete-user}">
                <button type="submit" th:name="userId" th:value="${user.id}">Delete</button>
            </form>
        </td>
    </tr>
</table>
<br>
<table>
    <td>
        <form action="#" th:action="@{/admin/new-user}">
            <button type="submit">Add</button>
        </form>
    </td>
    <td>
        <form action="#" th:action="@{/user}">
            <button type="submit">Your info user</button>
        </form>
    </td>
    <td>
        <form action="#" th:action="@{/logout}" method="post">
            <button type="submit">Logout</button>
        </form>
    </td>
</table>
</body>
</html>